
.button {
  border-radius: 100px;
  font-size: 1.25rem;
  font-weight: bold;
  color: #fff;
  transition: all .2s ease-in-out;
  border: 0;
  outline: none;
  padding-left: 2rem;
  padding-right: 2rem;
  &:hover {
    color: #fff;
    filter: brightness(.9);
  }
  * {
    margin-left: 12px;
  }
}

.button.is-secondary {
  background: $white;
  color: $darkblue;
  &:hover {
    color: $darkblue;
    filter: brightness(.9);
  }
}

.button.is-gradient {
  background: linear-gradient(116.27deg, #B368FC 6.4%, #6752F7 100%);
  color: white;
  text-align: center;
  display: block;
  &:hover {
    color: white;
    filter: brightness(.9);
  }
}

.button.is-outline {
  background: rgba(255,255,255,.1);
  border: 1px solid rgba(255,255,255,.5);
  color: white;
  text-align: center;
  display: block;
  &.purple {
    background: rgba($blue,.1);
    border: 1px solid rgba($blue,.5);
  }
  &:hover {
    color: white;
    filter: brightness(.9);
  }
}
