html {
  background: #0E1130;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #0E1130;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app-bg {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  left: 0; top: 0;
  pointer-events: none;
  background:  linear-gradient(165.31deg, #2C3168 -6.28%, #0E1130 177.69%)
}

.darken-bg {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100%;
  left: 0; top: 0;
  pointer-events: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-image: url('./styles/backgound/ornament1.png'), url('./styles/backgound/ornament2.png');
  background-position: left top, left top;
  background-repeat: no-repeat;
}

.darken-app {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100%;
  left: 0; top: 0;
  pointer-events: none;
  background: rgba(0,0,0,.1);
}
